---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 29 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		I am a student at Vanderbilt University studying Computer Science and Chemistry.
	</p>


	<p>
		My interests include data-driven analysis, digitization, machine learning, and generative music.
	</p>
</Layout>
