---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				Welcome to my corner of the web! My username is <strong>conjuncts</strong>.

			</p>
			<p>
				Here are some things I made at one point:
			</p>
			<ul>
				<li><a href="https://github.com/conjuncts/gmft">gmft</a> (<i>give me formatted tables</i>), 
					a package for deep and quick PDF table extraction
					<img src="https://img.shields.io/github/stars/conjuncts/gmft" class="github-shield" alt="GitHub Repo stars">
				</li>
				<li><a href="https://conjuncts.github.io/vowelchart">vowelchart</a>, a infographic on vowel formant frequencies
				built with d3.js</li>
			</ul>
			<p>
				This page is built with Astro!
			</p>
		</main>
		<Footer />
	</body>
</html>
